<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.machinestalk.sendDataTask</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>stayhome KSA</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allow &quot;StayhomeKSA&quot; to access your bluetooth while your are using the app?</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow &quot;StayhomeKSA&quot; to access your bluetooth while your are using the app?</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow &quot;stayhome KSA&quot; to use camera </string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app needs Face ID to recognize you</string>
	<key>NSLocationAlwaysAndWhenInUsageDescription</key>
	<string>Allow &quot;stayhome KSA&quot; to access your location while you are using the app?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow &quot;stayhome KSA&quot; to access your location while you are using the app?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow &quot;stayhome KSA&quot; to access your location while you are using the app?</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow &quot;stayhome KSA&quot; to access your location while you are using the app?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow &quot;stayhome KSA&quot; to access your location while you are using the app?</string>
	<key>NSMotionUsageDescription</key>
	<string>&quot;stayhome KSA&quot; use Motions to check activities</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow &quot;stayhome KSA&quot; to use Photo Library</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>AvenirLTStd-Book.otf</string>
		<string>AvenirLTStd-Light.otf</string>
		<string>AvenirLTStd-Roman.otf</string>
		<string>Avenir Roman.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
